.c-page__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 25px;
  margin: 0px 0px 20px 0px;
  font-family: Poppins;
}

.product__panel .panel .panel-heading {
  z-index: 1;
}
