.stepper {
  display: table;
  margin-right: auto;
  margin-left: auto;

  li {
    position: relative;
    display: block;
    float: left;
    padding-right: 35px;
    padding-left: 35px;
    text-align: center;
    list-style: none;
  }

  li + li::before {
    position: absolute;
    top: 15px;
    left: -25px;
    z-index: 1;
    display: block;
    width: 50%;
    height: 2px;
    content: "";
    background: #c7c7c7;
  }

  li::after {
    position: absolute;
    top: 15px;
    right: -25px;
    z-index: 1;
    display: block;
    width: 50%;
    height: 2px;
    content: "";
    background: #c7c7c7;
  }

  li:last-child::after {
    display: none;
  }

  &--step-done {
    display: block;
  }

  &__icon {
    display: block;
  }

  &__icon span {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    font-size: 14px;
    line-height: 26px;
    color: #d4d4d4;
    text-align: center;
    background: #fff;
    border: 2px solid #dcdcdc;
    border-radius: 100%;
    box-shadow: 0 2px 5px #b4b4b4;
  }

  &__icon span i {
    display: block;
    line-height: 26px;
  }

  &__active &__icon span,
  &__step_done &__icon span {
    color: #fff;
    background: #6d5cae;
    border-color: #6655a7;
  }

  p {
    font-weight: 700;
    color: #cccaca;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  &__active p,
  &--step-done p {
    color: #4e4e4e;
  }
}

@media (max-width: 767px) {
  .stepper {
    li {
      display: table;
      float: none;
      min-height: 45px;
      padding: 20px 0 15px 33px;
      margin: auto;
    }

    li:first-child {
      padding-top: 3px;
    }

    li &__icon {
      position: absolute;
      top: 18px;
      left: 0;

      span {
        width: 25px;
        height: 25px;
        margin-bottom: 0;
        line-height: 21px;
      }
    }

    li:first-child &__icon {
      top: 0;
    }

    li::after {
      top: auto;
      right: 0;
      bottom: 0;
      left: -1px;
      width: 2px;
      height: 15px;
      margin: auto;
    }

    li + li::before {
      top: 0;
      right: 0;
      bottom: auto;
      left: 0.5px;
      width: 10px;
      height: 10px;
      margin: auto;
      border-radius: 100%;
    }
  }
}
