.c-page__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 20px;
  font-family: Poppins;
}

.c-modal__normal {
  width: 600px;
  padding: 30px;
}

.c-modal__detail tr td {
  padding: 10px 10px !important;
  border-bottom: 1px solid #f3f3f3 !important;

  &:first-child {
    font-weight: 600 !important;
    padding: 10px 0px !important;
  }

}
